sign up here

<form method="POST" action="/register">
    <input type="text" name="username" id="" placeholder="Username">
    <input type="password" name="password" id="" placeholder="Password">
    <input type="submit" value="Sign Up">
</form>

<li>
    <a href='/login'>Login</a>
</li>
<li>
    <a href='/logout'>Logout</a>
</li>